<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: editableField.jsx</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: editableField.jsx</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from 'react';
import { FaPencilAlt } from 'react-icons/fa';
import 'react-datepicker/dist/react-datepicker.css';

/**
 * Component for an editable field.
 *
 * @param {Object} props - The editable field props
 * @param {string} props.label - The label for the field
 * @param {string | Array} props.value - The value of the field
 * @param {Function} props.onChange - Function to handle field value change
 * @param {boolean} props.isDateField - Indicates if the field is a date field
 * @param {boolean} props.isParagraph - Indicates if the field is a paragraph
 * @returns {JSX.Element} Component for an editable field
 */
const EditableField = ({ label, value, onChange, isDateField, isParagraph }) => {
  const isMultiLine = Array.isArray(value);

  return (
    &lt;div className={`mb-4 relative flex-grow`}>
      &lt;label htmlFor={label.toLowerCase()} className="block font-bold mb-1">
        {label}
      &lt;/label>
      &lt;div className="relative">
        {isDateField ? (
          &lt;input
            type="date"
            id={label.toLowerCase()}
            className="outline-none focus:border-[#1c8a8a] w-full border mb-1 p-2 pr-8 text-base sm:text-lg rounded-md hover:drop-shadow-lg transition duration-300 ease-in-out transform"
            value={value}
            onChange={(e) => onChange(e.target.value)}
          />
        ) : isMultiLine ? (
          &lt;textarea
            id={label.toLowerCase()}
            className="outline-none focus:border-[#1c8a8a] w-full border p-2 pr-8 text-base sm:text-lg rounded-md min-h-[100px] hover:drop-shadow-lg transition duration-300 ease-in-out transform"
            value={value.join('\n')}
            onChange={(e) => onChange(e.target.value.split('\n'))}
          />
        ) : (
          &lt;textarea
            id={label.toLowerCase()}
            className={`outline-none focus:border-[#1c8a8a] w-full border p-2 pr-8 text-base sm:text-lg ${isParagraph ? "min-h-[200px]" : ""} h-auto rounded-md hover:drop-shadow-lg transition duration-300 ease-in-out transform`}
            value={value}
            onChange={(e) => onChange(e.target.value)}
          />
        )}
        &lt;FaPencilAlt className="absolute top-2 right-2 text-gray-500 " />
      &lt;/div>
    &lt;/div>
  );
};

export default EditableField;
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#AjouterMod">AjouterMod</a></li><li><a href="global.html#Article">Article</a></li><li><a href="global.html#ArticleDetails">ArticleDetails</a></li><li><a href="global.html#ArticleFav">ArticleFav</a></li><li><a href="global.html#ArticleList">ArticleList</a></li><li><a href="global.html#CenteredArticleDetails">CenteredArticleDetails</a></li><li><a href="global.html#EditMod">EditMod</a></li><li><a href="global.html#EditableField">EditableField</a></li><li><a href="global.html#Filters">Filters</a></li><li><a href="global.html#Footer">Footer</a></li><li><a href="global.html#ListFav">ListFav</a></li><li><a href="global.html#ProtectedComponent">ProtectedComponent</a></li><li><a href="global.html#SearchBar">SearchBar</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Sun Jan 07 2024 17:41:13 GMT+0100 (heure normale d’Europe centrale)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
