<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: Footer.jsx</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: Footer.jsx</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from 'react';
import { Link } from 'react-router-dom';
import { IoArrowUp, IoLogoInstagram } from "react-icons/io5";
import { FaLinkedinIn } from "react-icons/fa";
import { FaXTwitter, FaFacebookF } from "react-icons/fa6";
import { MdAlternateEmail } from "react-icons/md";

/**
 * Footer component containing links, social icons, and company information.
 * @returns {JSX.Element} Footer component
 */
const Footer = () => {

  /**
   * Function to scroll to the top of the page.
   */
  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  };

  return (
    &lt;div className='md:py-12 py-8 md:px-16 px-8 bg-[#FCFFF7] rounded-b-3xl shadow-md hover:shadow-xl rotate-180 transition duration-300 ease-in-out transform'>
      &lt;div className='rotate-180'>
        &lt;div className='flex sm:flex-row flex-col justify-between items-center'>
          {/* SciFetch Logo */}
          &lt;Link to="/" onClick={scrollToTop} className='w-[150px] sm:w-[215px] mb-5 sm:mb-0 h-auto'>
            &lt;img
              src="/images/img_logo.png"
              alt="logo_img"
            />
          &lt;/Link>

          {/* Scroll To Top Button */}
          &lt;Link to="#" onClick={scrollToTop} className='lg:flex sm:block hidden items-center bg-[#046865] hover:bg-[#046865d4] hover:shadow-lg text-white font-semibold rounded-full lg:py-3 lg:px-5 p-4 transition duration-300 ease-in-out transform'>
            &lt;h1 className='lg:mr-1 lg:block hidden'>Top&lt;/h1>
            &lt;IoArrowUp className='lg:text-lg text-2xl'/>
          &lt;/Link>

          {/* Social Media Icons */}
          &lt;div className='flex text-2xl sm:text-3xl text-[#046865]'>
            &lt;Link to="https://www.instagram.com" target="_blank">&lt;IoLogoInstagram/>&lt;/Link>
            &lt;Link to="https://www.linkedin.com" target="_blank" className='mx-4'>&lt;FaLinkedinIn/>&lt;/Link>
            &lt;Link to="https://www.twitter.com" target="_blank">&lt;FaXTwitter/>&lt;/Link>
            &lt;Link to="https://www.facebook.com" target="_blank">&lt;FaFacebookF className='mx-4'/>&lt;/Link>
            &lt;Link to="mailto:contact@scifetch.dz" target="_blank">&lt;MdAlternateEmail/>&lt;/Link>
          &lt;/div>
        &lt;/div>

        {/* Separator */}
        &lt;div className='bg-[#04686588] rounded h-0.5 md:my-10 my-8'/>

        {/* Company Information */}
        &lt;div className='flex justify-center items-center text-[#03514ec5] text-sm sm:text-xl'>
          ©&lt;span className='font-medium mx-1'>2023&lt;/span>&lt;span className='font-semibold'>SciFetch&lt;/span>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  );
};

export default Footer;
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#AjouterMod">AjouterMod</a></li><li><a href="global.html#Article">Article</a></li><li><a href="global.html#ArticleDetails">ArticleDetails</a></li><li><a href="global.html#ArticleFav">ArticleFav</a></li><li><a href="global.html#ArticleList">ArticleList</a></li><li><a href="global.html#CenteredArticleDetails">CenteredArticleDetails</a></li><li><a href="global.html#EditMod">EditMod</a></li><li><a href="global.html#EditableField">EditableField</a></li><li><a href="global.html#Filters">Filters</a></li><li><a href="global.html#Footer">Footer</a></li><li><a href="global.html#ListFav">ListFav</a></li><li><a href="global.html#ProtectedComponent">ProtectedComponent</a></li><li><a href="global.html#SearchBar">SearchBar</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Sun Jan 07 2024 17:41:13 GMT+0100 (heure normale d’Europe centrale)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
