<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Components</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Components</h1>

    




<section>

<header>
    
        <h2></h2>
        
    
</header>

<article>
    <div class="container-overview">
    
        

        


<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>


        
    
    </div>

    

    

    

    

    

    

    

    
        <h3 class="subsection-title">Methods</h3>

        
            

    

    
    <h4 class="name" id="AjouterMod"><span class="type-signature"></span>AjouterMod<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    AjouterMod component to add a moderator.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Component properties.
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>handleClosePopup</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to close the popup.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>mods</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array.&lt;Object></span>


            
            </td>

            

            

            <td class="description last">List of moderators.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setMods</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set the moderators.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>allMods</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array.&lt;Object></span>


            
            </td>

            

            

            <td class="description last">List of all moderators.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setAllMods</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set all moderators.</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="popupajout.jsx.html">popupajout.jsx</a>, <a href="popupajout.jsx.html#line16">line 16</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    AjouterMod component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="Article"><span class="type-signature"></span>Article<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Component representing an article.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The article properties
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>id</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The unique identifier for the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>title</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The title of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>url</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The URL of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>abstract</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The abstract of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>isRectifier</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last">Flag indicating if the user is a rectifier</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="article.jsx.html">article.jsx</a>, <a href="article.jsx.html#line17">line 17</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Article component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="ArticleDetails"><span class="type-signature"></span>ArticleDetails<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Renders detailed information about the article.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The article details props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>articleData</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Information about the article</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="articleDetails.jsx.html">articleDetails.jsx</a>, <a href="articleDetails.jsx.html#line14">line 14</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component displaying detailed article information
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="ArticleFav"><span class="type-signature"></span>ArticleFav<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Component displaying information about a favorite article.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The article details props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>title</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The title of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>url</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The URL of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>abstract</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The abstract of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>id</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The unique identifier of the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>articles</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of articles</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setArticles</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set articles</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>searchResult</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of search results</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setSearchResult</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set search results</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="articleFav.jsx.html">articleFav.jsx</a>, <a href="articleFav.jsx.html#line22">line 22</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component displaying favorite article information
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="ArticleList"><span class="type-signature"></span>ArticleList<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Component displaying a list of articles.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The article list props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>articles</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of articles</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>isRectifier</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last">Indicates if the user is a rectifier</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="articleList.jsx.html">articleList.jsx</a>, <a href="articleList.jsx.html#line12">line 12</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component displaying the list of articles
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="CenteredArticleDetails"><span class="type-signature"></span>CenteredArticleDetails<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Renders the article details centered on the page.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The centered article details props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>articleData</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Information about the article</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>id</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The unique identifier for the article</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="articleDetails.jsx.html">articleDetails.jsx</a>, <a href="articleDetails.jsx.html#line43">line 43</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component rendering centered article details
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="EditMod"><span class="type-signature"></span>EditMod<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    EditMod component to modify a moderator.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Component properties.
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>handleClosePopup</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to close the popup.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>id</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">Moderator ID.</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="popupEdit.jsx.html">popupEdit.jsx</a>, <a href="popupEdit.jsx.html#line13">line 13</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    EditMod component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="EditableField"><span class="type-signature"></span>EditableField<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Component for an editable field.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The editable field props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>label</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">The label for the field</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>value</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>
|

<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">The value of the field</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>onChange</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to handle field value change</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>isDateField</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last">Indicates if the field is a date field</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>isParagraph</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last">Indicates if the field is a paragraph</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="editableField.jsx.html">editableField.jsx</a>, <a href="editableField.jsx.html#line16">line 16</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component for an editable field
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="Filters"><span class="type-signature"></span>Filters<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Component for managing filters like keywords, authors, institutions, and dates.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">The filters props
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>keywords</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of keywords</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>authors</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of authors</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>institutions</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array</span>


            
            </td>

            

            

            <td class="description last">List of institutions</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>dateDeb</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">Start date</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>dateFin</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">End date</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setKeywords</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set keywords</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setAuthors</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set authors</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setInstitutions</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set institutions</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setDateDeb</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set start date</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setDateFin</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set end date</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="filters.jsx.html">filters.jsx</a>, <a href="filters.jsx.html#line21">line 21</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Component for managing filters
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="Footer"><span class="type-signature"></span>Footer<span class="signature">()</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    Footer component containing links, social icons, and company information.
</div>













<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="Footer.jsx.html">Footer.jsx</a>, <a href="Footer.jsx.html#line12">line 12</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    Footer component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="ListFav"><span class="type-signature"></span>ListFav<span class="signature">(articles, setArticles, searchResult, setSearchResult)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    ListFav component to display a list of favorite articles.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>articles</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array.&lt;object></span>


            
            </td>

            

            

            <td class="description last">List of articles</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setArticles</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set the articles</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>searchResult</code></td>
            

            <td class="type">
            
                
<span class="param-type">Array.&lt;object></span>


            
            </td>

            

            

            <td class="description last">List of articles in search results</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setSearchResult</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set the search results</td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="ListFav.jsx.html">ListFav.jsx</a>, <a href="ListFav.jsx.html#line12">line 12</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    ListFav component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="ProtectedComponent"><span class="type-signature"></span>ProtectedComponent<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    ProtectedComponent component to control access based on user roles.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Component properties.
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>role</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">Role required for accessing the component.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>children</code></td>
            

            <td class="type">
            
                
<span class="param-type">ReactNode</span>


            
            </td>

            

            

            <td class="description last">Child components to render.</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="protected.jsx.html">protected.jsx</a>, <a href="protected.jsx.html#line12">line 12</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    ProtectedComponent
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
            

    

    
    <h4 class="name" id="SearchBar"><span class="type-signature"></span>SearchBar<span class="signature">(props)</span><span class="type-signature"> &rarr; {JSX.Element}</span></h4>
    

    



<div class="description">
    SearchBar component for handling search functionalities.
</div>









    <h5>Parameters:</h5>
    

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>props</code></td>
            

            <td class="type">
            
                
<span class="param-type">Object</span>


            
            </td>

            

            

            <td class="description last">Component properties.
                <h6>Properties</h6>
                

<table class="params">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>query</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">Current search query.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>setQuery</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to set the search query.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>placeholder</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last">Placeholder text for the search input.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>searchHandler</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last">Function to handle search actions.</td>
        </tr>

    

        <tr>
            
                <td class="name"><code>isForMod</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last">Flag indicating if the search is for a moderator.</td>
        </tr>

    
    </tbody>
</table>

            </td>
        </tr>

    
    </tbody>
</table>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <a href="search.jsx.html">search.jsx</a>, <a href="search.jsx.html#line14">line 14</a>
    </li></ul></dd>
    

    

    

    
</dl>















<h5>Returns:</h5>

        
<div class="param-desc">
    SearchBar component
</div>



<dl>
    <dt>
        Type
    </dt>
    <dd>
        
<span class="param-type">JSX.Element</span>


    </dd>
</dl>

    





        
    

    

    
</article>

</section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#AjouterMod">AjouterMod</a></li><li><a href="global.html#Article">Article</a></li><li><a href="global.html#ArticleDetails">ArticleDetails</a></li><li><a href="global.html#ArticleFav">ArticleFav</a></li><li><a href="global.html#ArticleList">ArticleList</a></li><li><a href="global.html#CenteredArticleDetails">CenteredArticleDetails</a></li><li><a href="global.html#EditMod">EditMod</a></li><li><a href="global.html#EditableField">EditableField</a></li><li><a href="global.html#Filters">Filters</a></li><li><a href="global.html#Footer">Footer</a></li><li><a href="global.html#ListFav">ListFav</a></li><li><a href="global.html#ProtectedComponent">ProtectedComponent</a></li><li><a href="global.html#SearchBar">SearchBar</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Sun Jan 07 2024 17:41:13 GMT+0100 (heure normale d’Europe centrale)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>