<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: adminNav.jsx</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: adminNav.jsx</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from 'react';
import { Link } from 'react-router-dom';
import axios from 'axios';

/**
 * Component for admin navigation.
 * @param {Object} props - Component props.
 * @param {Function} props.setLoading - Function to set loading state.
 * @returns {JSX.Element} Admin navigation component.
 */
const AdminNav = ({ setLoading }) => {

    /**
     * Handles file change.
     * @param {Object} e - Event object representing the change.
     */
    const handleFileChange = (e) => {
        const fichier = e.target.files[0];
        if (fichier) {
            const confirmation = window.confirm(`Confirm adding file: ${fichier.name}?`);
            if (confirmation) {
                handleFileUpload(fichier);
            } else {
                console.log('Addition cancelled');
            }
        }
    };

    /**
     * Handles file upload.
     * @param {Object} fichier - File to upload.
     */
    const handleFileUpload = async (fichier) => {
        setLoading(true); // Enable loading

        const formData = new FormData();
        formData.append('file', fichier);

        try {
            // Send file to server
            await axios.post('http://localhost:5000/api/uploads', formData);

            console.log('File uploaded successfully!');

            // Create an article with the PDF file name
            await axios.post('http://localhost:5000/api/articles', { pdf_name: fichier.name });

            console.log("done");
        } catch (error) {
            console.error('Error uploading file:', error);
        } finally {
            setLoading(false); // Disable loading, regardless of the result
        }
    };

    return (
        &lt;ul className='flex items-center lg:w-[70%] xl:w-[55%] w-[90%] justify-around'>
            &lt;li>
                {/* Link to manage moderators */}
                &lt;Link to={"/admin"} className='hidden sm:block text-sm sm:text-base md:text-[110%] hover:text-[#46aaa7] transition duration-300 ease-in-out transform'>Manage Moderators&lt;/Link>
                &lt;Link to={"/admin"} className='block sm:hidden text-sm sm:text-base md:text-[110%] hover:text-[#46aaa7] transition duration-300 ease-in-out transform'>Moderators&lt;/Link>
            &lt;/li>
            &lt;li>
                {/* Input to upload a PDF file */}
                &lt;div>
                    &lt;label htmlFor="fileInput" className='hidden sm:block text-sm sm:text-base md:text-[110%] hover:text-[#46aaa7] transition duration-300 ease-in-out transform cursor-pointer'>Upload Article&lt;/label>
                    &lt;input type="file" accept=".pdf" id="fileInput" onChange={handleFileChange} style={{ display: 'none' }} />
                &lt;/div>
                &lt;div>
                    &lt;label htmlFor="fileInput" className='block sm:hidden text-sm sm:text-base md:text-[110%] hover:text-[#46aaa7] transition duration-300 ease-in-out transform cursor-pointer'>Upload&lt;/label>
                    &lt;input type="file" accept=".pdf" id="fileInput" onChange={handleFileChange} style={{ display: 'none' }} />
                &lt;/div>
            &lt;/li>
        &lt;/ul>
    )
}

export default AdminNav;
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#AdminNav">AdminNav</a></li><li><a href="global.html#ClientNav">ClientNav</a></li><li><a href="global.html#FilterElement">FilterElement</a></li><li><a href="global.html#ModNav">ModNav</a></li><li><a href="global.html#NavBar">NavBar</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Sun Jan 07 2024 17:41:01 GMT+0100 (heure normale d’Europe centrale)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
