<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: NavBar.jsx</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: NavBar.jsx</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from 'react';
import axios from 'axios';
import { Link, useNavigate } from 'react-router-dom';
import { HiOutlineLogout } from "react-icons/hi";
import useToken from '../../utils/useToken';
import ClientNav from './clientNav';
import ModNav from './modNav';
import AdminNav from './adminNav';
import NotFound from '../../pages/Error/404';

/**
 * Functional component representing the navigation bar.
 *
 * @param {Object} props - Props containing removeToken and setLoading functions
 * @returns {JSX.Element} Navigation bar component
 */
const NavBar = ({ removeToken, setLoading }) => {

    const navigate = useNavigate();

    const { userrole } = useToken();

    /**
     * Handles the logout process by sending a request to the server.
     *
     * @param {Object} e - Event object
     * @returns {void}
     */
    const logoutHandler = async (e) => {
        e.preventDefault();
    
        try {
            // Send a request to the server for logout
            await axios.post('http://localhost:5000/api/logout');
            removeToken();
            navigate("/");
        } catch (error) {
            // Handle logout error
            console.log(error);
        }
    }

    /**
     * Renders different navigation components based on the user's role.
     *
     * @returns {JSX.Element} Rendered navigation component based on user role
     */
    const renderLinks = () => {
        switch (userrole) {
            case 'ADMIN':
                return &lt;AdminNav setLoading={setLoading}/>;
            case 'MOD':
                return &lt;ModNav/>;
            case 'CLIENT':
                return &lt;ClientNav/>;
            default:
                return &lt;NotFound/>;
        }
    } 

    return (
        &lt;div className='bg-[#FCFFF7] py-[5%] sm:py-[1.25%] px-[3%] flex justify-between shadow-md hover:shadow-xl transition duration-300 ease-in-out transform'>
            &lt;div className='md:w-[70%] flex items-center'>
                &lt;Link to="/" className='w-[40%] sm:w-[25%] h-auto sm:mr-[10%]'>
                    &lt;img
                        src="/images/img_logo.png"
                        alt="logo_img"
                    />
                &lt;/Link>
                &lt;div className='w-full'>
                    {renderLinks()}
                &lt;/div>
            &lt;/div>
            &lt;button type="submit" onClick={logoutHandler} className={`p-1 sm:p-2 border border-[#FB5353] text-[#FB5353] hover:text-white font-semibold rounded-md hover:bg-[#fb5353e5] flex items-center transition duration-300 ease-in-out transform`}>
                &lt;HiOutlineLogout className='text-xl md:mr-2'/>
                &lt;h1 className='hidden md:block'>Se déconnecter&lt;/h1>
            &lt;/button>
        &lt;/div>
    );
};

export default NavBar;
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Global</h3><ul><li><a href="global.html#AdminNav">AdminNav</a></li><li><a href="global.html#ClientNav">ClientNav</a></li><li><a href="global.html#FilterElement">FilterElement</a></li><li><a href="global.html#ModNav">ModNav</a></li><li><a href="global.html#NavBar">NavBar</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Sun Jan 07 2024 17:41:01 GMT+0100 (heure normale d’Europe centrale)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
